<header>
  <div
    class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"
  >
    <a
      href="/"
      class="d-flex align-items-center text-dark text-decoration-none"
    >
      <img
        class="img_logo"
        src="https://static.vecteezy.com/system/resources/previews/005/111/350/original/book-illustration-on-a-transparent-background-premium-quality-symbols-line-flat-color-icon-for-concept-and-graphic-design-vector.jpg"
      />
      <span class="fs-5">Pawlse Book Rental</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a
        class="me-3 py-2 text-dark text-decoration-none"
        routerLinkActive="active"
        routerLink="/app-user"
        >Home</a
      >
      <a class="me-3 py-2 text-dark text-decoration-none">Library</a>
      <ul id="nav" class="nav nav-pills me-3 py-2 text-dark" role="tablist">
        <li class="dropdown">
          <a class="dropdown-toggle me-3 py-2 text-dark" data-toggle="dropdown">
            {{ display }}
          </a>

          <ul id="user-menu" class="dropdown-menu clearfix" role="menu">
            <li><a class="submenu text-dark">Account</a></li>
            <li><a class="submenu text-dark" href="#">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
