<body>
  <div class="container py-3">
    <app-adminnav></app-adminnav>

    <main>
      <div
        class="bg-danger rounded text-white p-5 container-fluid d-flex justify-content-center align-items-center"
      >
        <h1 class="display-4 font-weight-bold">Remove Books</h1>
      </div>

      <div class="book-card row-3 col-3 mt-3">
        <div class="card-body row">
          <form [formGroup]="removeForm">
            <div class="row">
              <div class="col">
                <label for="bookid">Insert Database ID</label>
                <input
                  type="text"
                  class="form-control"
                  id="bookid"
                  formControlName="bookid"
                  #bookid
                />
              </div>
            </div>

            <button
              type="submit"
              class="btn btn-danger mt-3 mb-5"
              [disabled]="!removeForm.valid"
              (click)="removeBook(bookid.value)"
            >
              Remove
            </button>
          </form>
        </div>
      </div>
      <h4>Book Collection</h4>
      <table class="table table-striped table-hover p-3">
        <tr class="">
          <td>
            <b><a>Database ID</a></b>
          </td>
          <td>
            <b><a>Author</a></b>
          </td>

          <td>
            <b><a>Title</a></b>
          </td>

          <td>
            <b><a>Published</a></b>
          </td>

          <td>
            <b><a>Price</a></b>
          </td>

          <td>
            <b><a>Status</a></b>
          </td>
        </tr>

        <ng-container *ngFor="let group of bookusers$">
          <tr>
            <td>
              <a>{{ group.id }}</a>
            </td>
            <td>
              <a>{{ group.author }}</a>
            </td>

            <td>
              <a>{{ group.name }}</a>
            </td>

            <td>
              <b
                ><a>{{ group.published }}</a></b
              >
            </td>

            <td>
              <b
                ><a>{{ group.price }}</a></b
              >
            </td>

            <td>
              <a>{{ group.status }}</a>
            </td>
          </tr>
        </ng-container>
      </table>
    </main>
    <app-footernav></app-footernav>
  </div>
</body>
